label[for="txt"]{
border:2px solid grey;
height:38px;
width:300px;
display:grid;
}
#txt{
border:1px solid white;
}

#txt:focus{
border:none;
}

body{
width:100%;
display:grid;
margin:0;
padding:0;
font-family:gotham;
background:hsl(0deg,0%,97%)
grid-template-columns:repeat(1,1fr);
}
#general-notification{
font-size:2rem;
}

footer{
background:hsl(0deg,0%,58%);
display:grid;
border:none;
margin-top:10px;
grid-template-columns:repeat(1,1fr);
}

/*GENERAL*/
button{
display:grid;
align-items:center;
color:rgba(70,154,0);
background-color:rgba(225,225,210);
}

p{
margin:0;
padding:0;
}

table{
display:block;
border-collapse:collapse;
}

td{
border:1px solid hsl(0deg,0%,58%);
}


input[type="text"],input[type="password"],input[type="button"]{
display:flex;
align-items:center;
}

input[type="text"],input[type="password"]{
border:2px solid black;
}

label[for="check"],label{
display:flex;
align-items:flex-start;
margin-top:0;
}
textarea{
background-color:white;
}

/*HOME PAGE*/
.adds{
background: linear-gradient(180deg,rgba(70,154,0),hsl(96deg,81%,43%));
display:grid !important;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

@media (width<=980px){
.adds{
grid-template-columns:repeat(1,1fr);
gap:20px;
}
}

.adds>div{
padding:10px;
height:300px;
/*width:400px;*/
background-color:rebeccapurple;
border-radius:25px;
padding:20px;
margin:20px;
font-size:2rem;
grid-auto-rows:minmax(600px,auto);
}



#in-page-alerts{
display:none;
position:fixed;
justify-content:flex-start;
border:none;
background-color:green;
}

.mayotrics-home{

}

#year-progress-bar{
color:blue;
}

.login-register{
display:flex;
}

#home-div{
display:grid;
margin:0;
grid-template-columns:repeat(1,1fr);
gap:10px;
box-sizing:border-box;
}

#home-to-login,#home-to-registration{
color:rgba(70,154,0);
border:2px solid rgba(70,154,0);
background-color:white;
}


#navigation-bar{
display:flex;
justify-content:space-around;
background:hsl(0deg,0%,58%);
}

#mayotrics-logo{
background-color:green;
color:white;
margin:0;
display:grid;

}

.listed-profiles{
display:grid !important;
grid-template-columns:repeat(2,1fr);
row-gap:5px;
column-gap:10px;
}

.listed-profiles>button{
width:300px;
background:hsl(200deg,78%,89%);
height:50px;
border-radius:20px;
}


/*REGISTRATION FORMS*/
.account-forms{
display:none;
justify-content:flex-start;

}

#registration-page{
display:none;
align-items:flex-start;
margin:0;
background-color:white;
 }

#reg{
background:hsl(96deg,81%,43%);
border:none;
color:white;
}

label[for="check"]{
display:flex;
align-items:flex-start;
justify-content:flex-start;
}

#terms-link,#check{
margin:0;
}

#registration-names{
display:block;
}

#other-buttons{
display:block;
}

#go-to-login{
background-color:rgba(225,225,210);
border:2px solid grey;
}

/*LOGIN FORMS*/
#login-page{
display:none;
margin:0;
justify-content:flex-start;
background-color:white;
  }

/*#pass,#username,#password,#sername,#confirmPass,#first-name,#last-name{
}
*/

#other-buttons,#other-non-login-buttons{
display:flex;
justify-content:flex-start;
}

#forgot{
background-color:white;
background-color:rgba(90,75,96);
}

#login{
background: hsl(96deg,81%,43%);
color:white;
border:none;
}

label[for="Username"]{
margin:0;

}

.greetings{
font-size:1rem;
}



#go-to-registration{
background-color:white;
background-color:rgba(225,225,210);
border: 2px solid grey;
}

#forgot-login-password{
background-color:white;
background-color:rgba(225,225,210);
border: 2px solid grey;
}

/*PROFILE*/
#show-profile,#mayotrics-setting,#mayotrics-notification,#mayotrics-message,#mayotrics-payement,#mayotrics-support{
border: 2px solid green;
margin:0;
display:grid;
}

/*Styling profile*/

#profile{
display:none;
}

#profile:nth-child(odd){
background-color:grey;
}
/*STYLING PROFILE DIV*/

.goal-div,.location-div,.link-div,.emails-div,.customize-home-div{
display:flex;
}

/*Hide all profile operations by default
.add-goal,.edit-goal,.add-location,.edit-location,.add-link,.edit-link,.edit-email{
display:none;
}

*/
.show-profile{
display:none;
}


#mayotrics-support:hover{
border:2px solid blue;
}

#show-profile:hover{
border:2px solid blue;
}

#mayotrics-setting:hover{
border:2px solid blue;
}

#mayotrics-notification:hover{
border:2px solid blue;
}

#mayotrics-message:hover{
border:2px solid blue;
}

#mayotrics-payement:hover{
border:2px solid blue;
}

#mayotrics-logo:hover{
border:2px solid blue;
}


/*HOVERS*/
#reg:hover{
background-color:rgba(152,225,60);
}

#go-to-home-page:hover{
background-color:rgba(152,225,60);
}

#login:hover{
background-color:rgba(152,225,60);
}

#forgot:hover{
background-color:rgba(152,225,60);
}

#home-to-login:hover{
background-color:rgba(152,225,60);
}

#home-to-registration:hover{
background-color:rgba(152,225,60);
}

#home-page-from-login:hover{
background-color:rgba(152,225,60);
}

#go-to-login:hover{
background-color:rgba(152,225,60);
}
#go-to-registration:hover{
background-color:rgba(152,225,60);
}

#forgot-login-password:hover{
background-color:rgba(152,225,60);
}

#log-out:hover{
background-color:rgba(152,225,60);
}

/*CSS focus*/

#username:focus{
border:2px solid rgba(91,171,56);
}

#password:focus{
border:2px solid rgba(91,171,56);
}

#first-name:focus{
border:2px solid rgba(91,171,56);
}

#last-name:focus{
border:2px solid rgba(91,171,56);
}

#sername:focus{
border:2px solid rgba(91,171,56);
}
#pass:focus{
border:2px solid rgba(81,171,56);
}

#confirmPass:focus{
border:2px solid rgba(91,171,56);
}
*/

#first-name-field,#last-name-field{
display:grid;
align-items:center;
}
#last-name-field{
margin:0;
}

#log-out{
font-size: 1rem;
border-radius: 10px;

background:hsl(96deg,81%,43%);
color:black;
border:2px solid black;
}

#log-out:focus{
background-color:rgba(225,221,200);
}

.edit-profile-details{
display:none;
}

#quit-profile-edit{
display:none;
}

.signed-profiles{
display:none;
}

.user-tasks{
display:none;
}


/*Fixes to allow smooth view on mobile phone*/
@media (width<=980px){

/*GENERAL*/
input[type="text"],input[type="password"],input[type="button"],input[type="email"]{
width:900px;
font-size:2rem;
}

input[type="text"],input[type="password"],input[type="email"]{
border-radius:19px;
height:75px;
}

input[type="button"]{
border-radius:30px;
height:75px;
}

#in-page-alerts{
padding:10px 25px;
border-radius:30px;
font-size:2rem;
}


button{
width:200px;
font-size:2rem;
height:75px;
}

input{
border-radius:10px;
font-size:2rem;
}
textarea{
min-width:900px;
min-height:500px;
font-size:2rem;
}

/*HOME PAGE*/
 #home-div{
display:flex;
margin:0;
font-size:2rem;
border:0;
align-items: flex-start;
flex-direction:column;
min-width:100%;
padding:5px;
}

.mayotrics-home{
font-size: 2rem;
min-width:900px;
}

.adds{
width:900px;
font-size:2rem;
}
    
#time-for-now{
font-size:2rem;
}

#date-for-today{
font-size:2rem;
}


#home-to-login,#home-to-registration{
margin-top:25px;
border-radius:30px;
font-size:2rem;
padding:6px;
}

/*REGISTRATION FORMS*/
#registration-page{
font-size:2rem;
box-sizing:border-box;
border: none;
}

#registration-names{
display:block;
}

input,label[for="check"]{
border-radius:10px;
font-size:2rem;
}

#sername,#user-names,#pass,#confirmPass,#username,#password{
font-size:2rem;
}

#first-name,#last-name{
font-size:2rem;
}

label[for="check"]{
font-size:2rem;
margin-top:25px;
margin-bottom:10px;
}

#first-name-field,#last-name-field{
margin-bottom:30px;
}

#check{
min-height:50px;
padding:10px;
min-width:50px;   
color:green;
font-size: 2rem;
}

#reg{
border-radius:30px;
margin-bottom:28px;
font-size:2rem;
height:75px;
}

#go-to-login{
border-radius:30px;
font-size:2rem;
height:75px;
}

/*Shared by login and signup*/
#go-to-login,#forgot{
font-size:2rem;
color:black;
border:1px solid grey;
height:75px;
}

/*LOGIN FORMS*/
#go-to-home-page,#home-page-from-login{
border-radius:30px;
font-size:2rem;
padding:6px;
background-color:rgba(225,225,210);
border:2px solid grey;
color:black;
}

#forgot-login-password,#go-to-registration{
margin-top:25px;
}

#login-page{
font-size:2rem;
box-sizing:border-box;
border: none;

}

.greetings{
font-size:2rem;
}

#forgot{
border:1px solid grey;
border-radius:30px;
font-size:2rem;
height:75px;
color:black;
background-color:rgba(225,225,210);
}

/*login styles*/
#login,#log-out{
border-radius:30px;
font-size:2rem;
height:75px;
}

#log-out{
border-radius:30px;
font-size:2rem;
color:white;
border:1px solid grey;
padding:6px;
width:250px;
}
    

#other-non-login-buttons,#log-out{
display:block;
box-sizing: border-box;
}

#forgot-login-password{
border-radius:30px;
font-size:2rem;
color:black;
border:1px solid grey;
height:75px;
}

#go-to-registration{
border-radius:30px;
font-size:2rem;
color:black;
border:2px solid grey;
height:75px;
margin-botton:30px;
}


#mayotrics-payement,#mayotrics-support,#mayotrics-message{
display: none; 
}
    /*PROFILE*/
.goals,.user-name,.date-joined,.location-field,.links,.emails,.home-items{
font-size:2rem;
}
    #profile{
margin:0;
font-size:2rem;
min-width:900px;
padding:1px;
}

footer{
background:hsl(0deg,0%,58%);
display:grid;
border:none;
margin-top:10px;
grid-template-columns:1fr;
}


footer{
font-size:2rem;
}
}